<div class="container-fluid">
  <div class="row spacey_row">
    <div class="col-sm-4">
      <a href="{% url 'splitter:trip_edit' pk=trip.id %}" role="button" class="btn btn-primary btn-block btn-lg">Manage Trip Details</a>
    </div>
    <div class="col-sm-4">
      <a href="{% url 'splitter:phototrek_edit' pk=trip.id %}" role="button" class="btn btn-primary btn-block btn-lg">Manage Your PhotoTrek</a>
    </div>
    <div class="col-sm-4">
      <a role="button" class="btn btn-primary btn-block btn-lg">View/Edit Expenses</a>
      <p><span class="label label-warning">Currently Unavailable</span></p>
    </div>

  </div>
</div>
