{% extends 'splitter/base.html' %}
{% load static %}
{% block title %} Welcome to Splitter {% endblock %}

{% block main %}
  {% include "splitter/index_trips.html" with target_trips=private_trips title="Your Trips" %}
  {% include "splitter/index_trips.html" with target_trips=public_trips title="Public Trips" %}
{% endblock %}

{% block override %}
  <link rel="stylesheet" type="text/css" href="{% static 'splitter/splitter-index-custom.css' %}" />
  <script src="{% static 'splitter/splitter-index-custom.js' %}"></script>
{% endblock %}
