{% extends 'splitter/base.html' %}
{% load static %}
{% block title %}: Welcome to Splitter {% endblock %}
{% block loading %}{% include "splitter/loading_screen.html" with loading_msg="Loading Trips..." only %}{% endblock %}
{% block main %}
  {% if user and not user.is_anonymous %}
    {% include "splitter/index_trips.html" with target_trips=private_trips title="Your Trips" index="0" only %}
    <div class="container bordered_container">
      <div class="row">
        <div class="col-xs-12">
          <div class="pull-right">
            <a href="{% url 'splitter:new_trip' %}" role="button" class="btn btn-primary">New Trip</a>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% include "splitter/index_trips.html" with target_trips=public_trips title="Public Trips" index="1" only %}
{% endblock %}

{% block override %}
  <link rel="stylesheet" type="text/css" href="{% static 'splitter/splitter-index-custom.css' %}" />
  <script src="{% static 'splitter/splitter-index-custom.js' %}"></script>
{% endblock %}
