<div id='message_panel'>
  {% if messages %}
    <!-- adapted from https://simpleisbetterthancomplex.com/tips/2016/09/06/django-tip-14-messages-framework.html -->
    {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ message }}
      </div>
    {% endfor %}
    {% endif %}
</div>
<style>
  #message_panel {
    position: absolute;
    top: 60px;
    z-index: 10;
    width: 100%;

  }
  .alert {
    margin: 0;
    opacity: 0.9;
  }
</style>
