{% extends 'splitter/base.html' %}
{% load static %}
{% block main %}
  <div class="container bordered_container">
    <form action="{% url 'splitter:new_trip2' %}" method="post">
      {% csrf_token %}
      <div class="container-fluid">
        <div class="row">
          <div class="form-group col-xs-12">
            <label class="control-label"><h2>Trip Name</h4></label>
            <input type="text" name="title" class="form-control input-lg" placeholder="Name of the trip"></input>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-9">
            <label class="control-label">Travellers: </label>
            <select name="travelers" title="Ghost Trip" class="selectpicker" multiple data-selected-text-format="count>2" data-count-selected-text="{0} Travelers">
              {% for trav in travelers %}
                <option value="{{ trav.pk }}" {% if trav.user == user %}selected{% endif %}>{{trav.traveler_name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-sm-3">
            <div class="pull-right">
              <button type="submit" class="btn btn-primary">Next</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

{% endblock %}

{% block override %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css" />
  <script src="{% static 'splitter/splitter-new-trip.js' %}"></script>
{% endblock %}
