{% extends 'splitter/base.html' %}
{% load static %}
{% block title %}: {{ trip.trip_name }}{% endblock %}
{% block loading %}{% include "splitter/loading_screen.html" with loading_msg="Loading Map..." only %}{% endblock %}
{% block main %}
  {% csrf_token %}
  <div id="content_panel">
    <div id="map"></div>
    <div id="thumb_wrapper">
      <div class="row">
        <div class="col-xs-12" id="info_panel">
          <div id="pic_info"></div>
        </div>
      </div>
      <div id="thumb_list">
      </div>
    </div>
  </div>
{% endblock %}
{% block override %}

  <link rel="stylesheet" href="{% static 'exlibs/lity.min.css' %}" />
  <link rel="stylesheet" href="{% static 'exlibs/snazzy-info-window.min.css' %}" />
  <link rel="stylesheet" href="{% static 'splitter/splitter-phototrek-display.css' %}" />
  <script async defer src="{% static 'splitter/splitter-phototrek-display.js' %}"></script>
  <script async defer src="{% static 'exlibs/jquery.mousewheel.min.js' %}"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB97NC_evojQAyY2oNMRkjnVNPpo6iBDeU&callback=initMap&libraries=places" type="text/javascript"></script>
  <script async defer src="{% static 'exlibs/snazzy-info-window.min.js' %}"></script>
  <script async defer src="{% static 'exlibs/lity.min.js' %}"></script>

{% endblock %}
