{% extends 'splitter/base.html' %}
{% load static %}
{% block title %}: {{ trip.trip_name }}{% endblock %}
{% block loading %}{% include "splitter/loading_screen.html" %}{% endblock %}
{% block main %}
  {% csrf_token %}
  <div id="content_panel">
    <div id="map"></div>
    <div id="thumb_wrapper">
      <div class="row">
        <div class="col-xs-12" id="info_panel">
          <div id="pic_info"></div>
        </div>
      </div>
      <div id="thumb_list">
      </div>
    </div>
  </div>
{% endblock %}
{% block override %}
  <script src="{% static 'exlibs/lity.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'exlibs/lity.min.css' %}" />
  <script src="{% static 'exlibs/jquery.mousewheel.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'splitter/splitter-phototrek-display.css' %}" />
  <script src="{% static 'splitter/splitter-phototrek-display.js' %}"></script>
  <script src='https://api.mapbox.com/mapbox-gl-js/v0.36.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.36.0/mapbox-gl.css' rel='stylesheet' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css" integrity="sha256-nFp4rgCvFsMQweFQwabbKfjrBwlaebbLkE29VFR0K40=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js" integrity="sha256-urCxMaTtyuE8UK5XeVYuQbm/MhnXflqZ/B9AOkyTguo=" crossorigin="anonymous"></script>
{% endblock %}
