{% extends 'splitter/trip_base.html' %}
{% load static %}
{% block trip_base %}
  {% csrf_token %}
  <div class="container-fluid">
    <div class="row spacey_row">
      <div id="content_panel" class="col-xs-12">
        <div id="map"></div>
        <div id="display_btn">
          <a role="button" class="btn btn-primary" href="{% url 'splitter:phototrek' pk=trip.pk %}">Display Mode</a>
        </div>
      </div>
    </div>
  </div>
{% if edit_permission %}
  {% include 'splitter/editable_palette.html' %}
{% endif %}
{% endblock %}
{% block trip_override %}
  <link rel="stylesheet" href="{% static 'splitter/splitter-trip-overview.css' %}" />
  <script src="{% static 'splitter/splitter-trip-overview.js' %}"></script>
  <script src='https://api.mapbox.com/mapbox-gl-js/v0.36.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.36.0/mapbox-gl.css' rel='stylesheet' />
{% endblock %}
