{% extends 'splitter/base.html' %}
{% load static %}
{% block main %}
<div class="container bordered_container">
  <div class="page-header">
    <h1>Trip Planner</h1>
  </div>
  <div class="row spacey_row">
    <div class="col-sm-7 col-md-9">
      <div id="map">
      </div>
      <input type="text" id="searchTextField" class="form-control"></input>
    </div>
    <div class="col-sm-5 col-md-3">
      <div id="output_panel">
      </div>
    </div>
  </div>
  <div class="row spacey_row" id="btn_row">
    <div class="col-md-10 text-right">
        <select id="roundtrip" class="selectpicker" data-width="fit">
          <option value="1">Roundtrip</option>
          <option value="0">One Way</option>
        </select>
        <select id="trans_mode" class="selectpicker" data-width="fit">
          <option value="DRIVING">Driving</option>
          <option value="TRANSIT">Public Transit</option>
          <option value="BICYCLING">Cycling</option>
          <option value="WALKING">Walking</option>
        </select>

    </div>
    <div class="col-md-2 text-right">
      <button id="calc_btn" class="btn btn-primary" type="button">Calculate Route</button>
    </div>
  </div>
</div>
{% endblock %}
{% block override %}
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'splitter/splitter-trip-plan.css' %}" />
  <script src="{% static 'splitter/splitter-trip-plan.js' %}"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB97NC_evojQAyY2oNMRkjnVNPpo6iBDeU&callback=initMap&libraries=places" type="text/javascript"></script>
{% endblock %}
