{% extends 'splitter/base.html' %}
{% block title %}: {{ trip.trip_name }}{% endblock %}
{% block main %}
  <div class="container bordered_container">
    <div class="jumbotron">
      <h1><span>{{ trip.trip_name }}</span></h1>
      <p><span>{{ trip.trip_description }}</span></p>
    </div>
    {% block trip_base %}
    {% endblock %}
  </div>
{% endblock %}

{% block override %}
  <style>
    .jumbotron {
      background:
        linear-gradient(to right, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%),
        #ffffff url({{ trip.profile_pic }}) no-repeat;
      width: 100%;
      background-size: cover;
      color:#FFF;
    }

    .jumbotron span {
      padding: 10px auto;
    }
  </style>
  {% block trip_override %}
  {% endblock %}
{% endblock %}
