{% extends 'splitter/trip_base.html' %}
{% load static %}
{% block trip_base %}
  <form action="{% url 'splitter:gateway' action='etd' %}" method="post">
    {% csrf_token %}
    <div class="container-fluid">
      <div class="row">
        <div class="from-group col-sm-12">
          <label class="control-label">Description</label>
          <textarea rows="5" class="form-control" name="description" placeholder="Summarize your trip.">{{trip.trip_description}}</textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label class="control-label">Duration</label>
          <div class="input-group input-daterange">
            <input type="text" class="form-control" name="start_date" value="{{ trip.trip_start|date:"Y/m/d"}}" />
            <div class="input-group-addon">to</div>
            <input type="text" class="form-control" name="end_date" value="{{ trip.trip_end|date:"Y/m/d"}}" />
          </div>
        </div>
        <div class="form-group col-sm-7">
          <label class="control-label">Banner Picture</label>
          <input type="text" value="{{trip.profile_pic}}" name="pp_url" class="form-control" placeholder="Choose the header picture for this trip."></input>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 form-group">
          <input type="checkbox" {% if trip.is_private %} checked="checked"{% endif %} name="private" ></input>
          <label>Private Trip</label>
        </div>
      </div>
      <!-- inactive elements !-->
      <div class="row spacey_row">
        <div class="col-xs-8">
          {% for traveler in trip.travelers.all %}
            <span class="label label-default">{{ traveler.traveler_name }}</span>
          {% endfor %}
        </div>
        <div class="col-xs-4 text-right">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </form>

{% endblock %}

{% block trip_override %}
  <script src="{% static 'exlibs/markerclusterer.js' %}"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB97NC_evojQAyY2oNMRkjnVNPpo6iBDeU&callback=initMap&libraries=places" type="text/javascript"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css" integrity="sha256-nFp4rgCvFsMQweFQwabbKfjrBwlaebbLkE29VFR0K40=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js" integrity="sha256-urCxMaTtyuE8UK5XeVYuQbm/MhnXflqZ/B9AOkyTguo=" crossorigin="anonymous"></script>
  <script src="{% static 'splitter/splitter-trip-edit.js' %}"></script>
  <link rel="stylesheet" href="{% static 'splitter/splitter-trip-edit.css' %}" />
{% endblock %}
