#map {
  height: 500px;
}
#content_panel {
  position: relative;
}
#display_btn {
  position: absolute;
  top: 15px;
  left: 40px;
  z-index: 1;
}
.thumbnail_img {
  min-width: 135px;
  min-height: 135px;
}

@media only screen and (max-width: 768px) {
  #map {
    height: 200px;
  }

}
