/* flatUI colors https://flatuicolors.com/ as applied to progress bars */
.progress-bar-flat-0 {
  background-color: #16a085;
}
.progress-bar-flat-2 {
  background-color: #27ae60;
}
.progress-bar-flat-4 {
  background-color: #2980b9;
}
.progress-bar-flat-6 {
  background-color: #8e44ad;
}
.progress-bar-flat-8 {
  background-color: #2c3e50;
}
.progress-bar-flat-1 {
  background-color: #f39c12;
}
.progress-bar-flat-3 {
  background-color: #d35400;
}
.progress-bar-flat-5 {
  background-color: #c0392b;
}
.progress-bar-flat-7 {
  background-color: #bdc3c7;
}
.progress-bar-flat-9 {
  background-color: #7f8c8d;
}

.progress-bar-flat-0-alt {
  background-color: #1abc9c;
}
.progress-bar-flat-2-alt {
  background-color: #2ecc71;
}
.progress-bar-flat-4-alt {
  background-color: #3498db;
}
.progress-bar-flat-6-alt {
  background-color: #9b59b6;
}
.progress-bar-flat-8-alt {
  background-color: #34495e;
}
.progress-bar-flat-1-alt {
  background-color: #f1c40f;
}
.progress-bar-flat-3-alt {
  background-color: #e67e22;
}
.progress-bar-flat-5-alt {
  background-color: #e74c3c;
}
.progress-bar-flat-7-alt {
  background-color: #ecf0f1;
}
.progress-bar-flat-9-alt {
  background-color: #95a5a6;
}
