html, body { height: 100% }


.media-heading {
  color: #eee;
}

.img_wrapper > img {
  object-fit: cover;
  width: 135px;
  height: 135px;
}

div.img_wrapper {
  display: inline;
  margin: 0 5px;
}
div.img_wrapper:hover {
  cursor: pointer;
}

#thumb_wrapper {
  position: absolute;
  bottom: 20px;
  width: 100vw;
  padding: 10px 20px;
  background-color: rgba(200, 200, 200, 0.25);
}

#thumb_list {
  overflow-x: auto;
  white-space: nowrap;
  position: relative;
  width: 100%;
  height: 170px;
}

#info_panel {
  vertical-align: middle;
  display: inline-block;
}


#pic_info,
#back_to_album {
  padding-bottom: 10px;
  display: inline-block;
}
#back_to_album button {
  position: relative;
}

#map {
  position: absolute;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

#content_panel {
  position: relative;
  height: 100%;
}
