#map {
  height: 500px;
}

#thumb_list {
  overflow-y: auto;
  height: 500px;
  position: relative;
}

#content_panel > div {
  padding-left: 0;
}
#btn_col {
  padding: 0;
}

.flex_div {
  display: flex;
}

img.media-object {
  object-fit: cover;
  width: 135px;
  height: 135px;
}

img.media-object:hover {
  cursor: pointer;
}

div.media-body {
  position: relative;
}

div.delete_media {
  position: absolute;
  right: 5px;
  bottom: 5px;
  display: none;
}
div.delete_media:hover {
  cursor: pointer;
}

.geo_section > span::before {
  content: "@ (";
}

.geo_section > span::after {
  content: ")";
}

.geo-section span {
  flex-grow: 100;
}

@media only screen and (max-width: 768px) {
  #content_panel > div {
    padding-right: 0;
  }

  #map, #thumb_list {
    height: 200px;
  }
}
