html, body { height: 100% }


.media-heading {
  color: #eee;
}

.img_wrapper > img {
  object-fit: cover;
  width: 135px;
  height: 135px;
}

div.img_wrapper {
  display: inline-table;
  position: relative;
  margin: 0 5px;
  height: auto;
}
div.img_wrapper:hover {
  cursor: pointer;
}
.media_selected {
  -webkit-filter: sepia(100%); /* Safari 6.0 - 9.0 */
  filter: sepia(100%);
}
.detail_screen {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 20px;
  display: none;
  line-height: 1;
}


#thumb_wrapper {
  position: absolute;
  bottom: 20px;
  width: 100vw;
  padding: 10px 20px;
  background-color: rgba(200, 200, 200, 0.25);
}

#thumb_list {
  overflow-x: auto;
  white-space: nowrap;
  position: relative;
  width: 100%;
  height: 170px;
}

#info_panel {
  vertical-align: middle;
  display: inline-block;
}


#pic_info,
#back_to_album {
  padding-bottom: 10px;
  display: inline-block;
}
#back_to_album button {
  position: relative;
}

#map {
  position: absolute;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

#content_panel {
  position: relative;
  height: 100%;
}

.lity_arrows {
  position: absolute;
  top: 40%;
  z-index: 9995;
  color: rgba(255, 255, 255, 0.5);
  font-size: 2.5em;
}
.lity_arrows:hover {
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}
#left_arrow {
  left: 20px;
}
#right_arrow {
  right: 20px;
}
